{
	"output": {
		"name": "Name_of_Output_Digest",
		"path": "/path/to/output/",
		"frequency": "day:min:sec"
	},
	"input": [
		{
			"type": "fd",
			"path": "/path/to/dir"
		},
		{
			"type": "f",
			"path": "path/to/file.ext"
		},
		{
			"type": "sd",
			"path": "/path/to/surface_dir"
		}
	]
}
